/* global styles */
#wrapper {
	margin-top: 100px;
	margin-bottom: 100px;
}

.spacing {
	margin: 2px 2px 2px 0;
}

.modal-xlg {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
	#wrapper {
		margin-top: 75px;
		margin-bottom: 75px;
	}
}

html, body {
	height: 100%;
    overflow-x: hidden;
}

/* Admin dashboard */
.main-pane {
    display: table;
    height: 100%;
    overflow: hidden;
    width: 100%;
    margin-bottom:55px;
    margin-top: 50px;
}

.left-pane {
    background-color: #e0e0e0;
    float: none;
    display: table-cell;
    height: 100%;
    padding-left: 25px;
    padding-right: 10px;
}

.right-pane {
    background-color: #f8f8f8;
    float: none;
    display: table-cell;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

#sensor-table {
	table-layout: fixed;
}