html, body {
	height: 100%;
    overflow-x: hidden;
}

#wrapper {
	margin-top: 75px;
	margin-right: 10px;
	margin-left: 10px;
}


/* Admin dashboard */
.main-pane {
    display: table;
    height: 100%;
    overflow: hidden;
    width: 100%;
    margin-bottom:55px;
    margin-top: 50px;
}

.left-pane {
    background-color: #e0e0e0;
    float: none;
    display: table-cell;
    height: 100%;
    padding-left: 25px;
    padding-right: 10px;
}

.right-pane {
    background-color: #f8f8f8;
    float: none;
    display: table-cell;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

#sensor-table {
	table-layout: fixed;
}