.modal-dialog
    .modal-content
        form#create-tenant-form(onsubmit='return false;')
            .modal-header
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true')
                        | &times;
                h4.modal-title
                    i.fa.fa-globe
                        | &nbsp;
                    | New Tenant
            .modal-body
                .alert.alert-info
                    i.fa.fa-info-circle.fa-lg
                        | &nbsp;
                    | To create a new tenant, please specify a tenant name below.
                .row
                    .container-fluid
                        input.form-control.spacing(type='text', name='tenant', placeholder='Tenant Name')
                        button.btn.btn-primary.btn-xs(type='button', name="tenant-availability")
                            | Check Availability
                        .results.pull-right(style='text-align: right;')
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal')
                    | Cancel
                button.btn.btn-primary(type='submit')
                    | Submit
script(src='/javascripts/modal.js')