extends _template

block content
    .modal-dialog
        .modal-content
            form#create-sensor-group-template-form.form-horizontal(onsubmit='return false;')
                .modal-header
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true')
                            | &times;
                    h4.modal-title
                        i.fa.fa-pencil-square-o
                        | &nbsp;
                        - if (render.query.edit === 'true')
                            | Edit Sensor Group Template
                        - else
                            | Create Sensor Group Template
                .modal-body
                    input(type="hidden", value="#{render.query.edit === 'true' ? 'edit' : ''}")
                    - if (render.query.edit !== 'true')
                        .alert.alert-info
                            i.fa.fa-info-circle.fa-lg
                            | &nbsp;To create a new sensor group template, please complete and submit this form.
                    .form-group
                        label.control-label.col-sm-4
                            | Group Template ID
                            span.text-danger
                                | *
                        .col-sm-7
                            input.form-control(type="number", name='templateGroupId', placeholder='Enter Group Template ID')
                    .form-group
                        label.control-label.col-sm-4
                            | Sensor Group
                        .col-sm-7
                            .help-block
                                i.fa.fa-info-circle
                                | &nbsp; Select all that apply.
                            - for (var i = 0; i < render.response.length; i++)
                                .checkbox
                                    label
                                        input(type="checkbox", value="#{render.response[i].id}", name="sensorGroup")
                                        | Sensor ID##{render.response[i].id}
                    .form-group
                        label.control-label.col-sm-4
                            | Description
                        .col-sm-7
                            input.form-control(type="text", name='description', placeholder='Enter description')
                    - if (render.query.edit !== 'true')
                        .form-group
                            label.control-label.col-sm-4
                                | Available From
                            .col-sm-7
                                - var today = new Date().toLocaleDateString() + " (UTC)";
                                input.form-control(type="text", value="#{today}", readonly)
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal')
                        | Cancel
                    button.btn.btn-primary(type='submit')
                        | Submit