extends _template

block right_pane
	- for (var i = 0; i < render.response.length; i++)
		- var sensor = render.response[i];
		.col-lg-12
			.panel.panel-default
				.panel-heading(style="font-size: 1.1em")
					i.fa.fa-map-marker
						| &nbsp;
					| Sensor ID #{sensor.id}
					span(style="font-weight: normal")
						| &nbsp;|&nbsp;Event Log
				.table-responsive
					table.table.table-striped
						thead
							tr
								th
									| Date
								th
									| Event
						tbody
							- if (sensor.log && sensor.log.length > 0)
								- for (var j = 0; j < sensor.log.length; j++)
									- var log = sensor.log[j];
									tr
										td
											= (new Date(log.timestamp)).toUTCString()
										td
											= log.message
							- else
								tr
									td
										span.help-block
											| No event log
									td
									td
									td
