extends _template

block right_pane
	.panel.panel-default
		.panel-heading.clearfix
			button.btn.btn-primary.pull-right.spacing(id='create-sensor-template', title='Create new sensor template', data-template='sensor')
				i.fa.fa-plus
				| &nbsp;Sensor Template
			button.btn.btn-primary.pull-right.spacing(id='create-sensor-group-template', title='Create new sensor group template', data-template='sensor-group')
				i.fa.fa-plus
				| &nbsp;Sensor Group Template
		.panel-body
			ul.nav.nav-tabs
				li.active
					a(href='#sensor-templates-tab', data-toggle='tab')
						| Sensor Templates
				li
					a(href='#sensor-group-templates-tab', data-toggle='tab')
						| Sensor Group Templates
			.tab-content
				#sensor-templates-tab.tab-pane.fade.in.active
					br
					.container-fluid
						.table-responsive
							table.table.table-striped(id='sensor-templates-table')
								thead
									tr
										th
											| Template ID
										th
											| Sensor ID
										th
											| Min. Sample Period
										th
											| Max. Value
										th
											| Min. Value
										th
											| Response Time
										th
											| Type
										th
											| Available From
										th
											| Actions
								tbody
									- for (var i = 0; i < render.response.template.length; i++)
										- var template = render.response.template[i];
										tr
											td
												= template.templateId
											td
												= template.sensorId
											td
												= template.minSamplePeriod
											td
												= template.maxValue
											td
												= template.minValue
											td
												= template.responseTime
											td
												= template.type
											td
												= (new Date(template.availableFrom)).toLocaleDateString() + " (UTC)"
											td
												button.edit-sensor-template.btn.btn-default.btn-sm(title='Edit template', data-template="sensor", data-template-id="#{template.templateId}")
													i.fa.fa-edit
												button.delete-sensor-template.btn.btn-danger.btn-sm(title='Delete template', data-template="sensor", data-template-id="#{template.templateId}")
													i.fa.fa-trash
				#sensor-group-templates-tab.tab-pane.fade.in
					br
					.container-fluid
						table.table.table-striped(id='sensor-group-templates-table')
							thead
								tr
									th
										| Group Template ID
									th
										| Sensor Group
									th
										| Description
									th
										| Available From
									th
										| Actions
							tbody
								- for (var i = 0; i < render.response.templategroup.length; i++)
									- var template = render.response.templategroup[i];
									tr
										td
											= template.templateGroupId
										td
											= template.sensorGroup.join(', ')
										td
											= template.description
										td
											= (new Date(template.availableFrom)).toLocaleDateString() + " (UTC)"
										td
											//- button.edit-sensor-group-template.btn.btn-default.btn-sm(title='Edit template', data-template='sensor-group')
											//- 	i.fa.fa-edit
											button.delete-sensor-group-template.btn.btn-danger.btn-sm(title='Delete template', data-template='sensor-group', data-template-id="#{template.templateGroupId}")
												i.fa.fa-trash