extends _template

block right_pane
	.panel.panel-default
		.panel-heading.clearfix
			h4.pull-left
				| Registered Sensors
			button.btn.btn-primary.pull-right(id='register-sensor', title='Register a new sensor')
				i.fa.fa-plus
				| &nbsp;Register Sensor
		.panel-body
			.table-responsive
				table.table.table-striped(id='sensor-table')
					thead
						tr
							th
								| Sensor ID
							th
								| Sensor Type
							th
								| Sensor Format
							th
								| Description
					tbody
						- for (var i = 0; i < render.response.length; i ++)
							- var sensor = render.response[i];
							tr
								td
									= sensor.id
								td
									= sensor.type
								td
									= sensor.format
								td
									= sensor.description
								td
									button.delete-owner-sensor.btn.btn-danger.btn-xs(data-sensor-id="#{sensor.id}")
										i.fa.fa-trash
										| &nbsp;Remove