extends _template

block right_pane
	.row
		.panel.panel-default
			.panel-heading
			.panel-body
				.row
		.panel.panel-default
			.panel-heading
			.panel-body
	.row
		.panel.panel-default
			.panel-heading
			.panel-body