extends _template

block right_pane
	.row
		.container-fluid
			.panel.panel-default
				.panel-heading.clearfix
					h4.pull-left
						| Request History
					button.btn.btn-primary.pull-right.spacing(id='new-sensor-request', title='Provision new sensor')
						i.fa.fa-plus
						| &nbsp;New Request
				.panel-body
					table.table.table-striped(id='sensor-group-templates-table')
						thead
							tr
								th
									| Request ID
								th
									| Template ID
								th
									| Zip Code
								th
									| Request Status
								th
									| Type
								th
									| Provision Date
								th
									| Terminate Date
						tbody
							- for (var i = 0; i < render.response.length; i++)
								- var sub = render.response[i];
								- var c = (sub.status === 'active' ? 'success' : 'default');
								- c = (sub.status === 'terminated' ? 'danger' : c);
								tr
									td
										= sub.request_id
									td
										= sub.template_id
									td
										= sub.zipCode
									td
										span.label(class="label-#{c}")
											= sub.status
									td
										= sub.type
									td
										= (new Date(sub.created)).toLocaleDateString() + " (UTC)"
									td
										- if (sub.status === 'terminated')
											= (new Date(sub.destroyed)).toLocaleDateString() + " (UTC)"
										- else
											| -