extends _template

block right_pane
	.container-fluid
		- for (var i = 0; i < 6; i++)
			- var c = 'success';
			- var rand = parseInt(Math.floor((Math.random() * 10) + 1));
			- if ((i + rand) % 3 === 0)
				- c = 'danger';
			.col-lg-4.col-md-4.col-sm-6
				.panel(class="panel-#{c}", style='border-width: 2px;')
					.panel-heading
					.panel-body
						.row
							label.control-label.col-lg-6
								| Request ID
							.col-lg-6
								| 100#{i}
						.row
							label.control-label.col-lg-6
								| Template ID
							.col-lg-6
								| 100#{i}
						.row
							label.control-label.col-lg-6
								| Status
							.col-lg-6
								span.label(class="label-#{c}")
									= (c === 'success' ? 'Active' : 'Inactive')
						.row
							label.control-label.col-lg-6
								| Type
							.col-lg-6
								| Air flow
						br
						.row
							.container-fluid
								- var status = (c === 'danger' ? 'Enable' : 'Disable');
								button.btn.btn-default.btn-sm.pull-right.spacing
									i.fa.fa-power-off
										| &nbsp;
									= status
								button.btn.btn-default.btn-sm.pull-right.spacing.delete-user-sensor
									i.fa.fa-trash
									| &nbsp;Terminate
								
								