<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../stylesheets/index_style.css">
    <title>Sensor Simulation App</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="../index.html">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="view_templates.html">Template Management</a></li>
            <li><a href="html/register_sensor.html">Sensor Management</a></li>
            <li><a href="/save/template">Add Temaplates</a></li>
</nav>
<div class="container" ng-controller="AppCtrl">
    <h1>Sensor Registration</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Format</th>
            <th>ID</th>
            <th>Description</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td><input class="from-control" ng-model="sensor.format"></td>
        <td><input class="from-control" ng-model="sensor.id"></td>
        <td><input class="from-control" ng-model="sensor.description"></td>
        <td><input class="from-control" ng-model="sensor.type"></td>

        <!--<td><input class="from-control" ng-model="sensor.value"></td>-->
        <!--<td><input class="from-control" ng-model="sensor.group_id"></td>-->
        <!--<td><input class="from-control" ng-model="sensor.admin"></td>-->
        <!--<td><input class="from-control" ng-model="sensor.status"></td>-->
        <!--<td><input class="from-control" ng-model="sensor.owner"></td>-->
        <!--<td><input class="from-control" ng-model="sensor.temp_id"></td>-->
        <td><button class="btn-primary" ng-click="registerSensor()">Register Sensor</button></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="../controller/controller.js"></script>
</body>

</html>