// Partial View: User Dashboard

h1 User Dashboard

.row
    .col-lg-6.col-md-6
        .dashboard-panel.panel.panel-default
            .panel-heading
                | Function 1
            .panel-body
                | Test 
    .dashboard-panel.col-lg-6.col-md-6
        .panel.panel-default
            .panel-heading
                | Function 2
            .panel-body
                | Test 	
.row
    .dashboard-panel.col-lg-6.col-md-6
        .panel.panel-default
            .panel-heading
                | Function 3
            .panel-body
            
    .dashboard-panel.col-lg-6.col-md-6
        .panel.panel-default
            .panel-heading
                | Function 4
            .panel-body
            