//- Partial View: Admin dashboard

.row
    .col-lg-6.col-md-6
        .dashboard-panel.panel.panel-default
            .panel-heading
                | Panel 1
            .panel-body
    .dashboard-panel.col-lg-6.col-md-6
        .panel.panel-default
            .panel-heading
                | Panel 2
            .panel-body
.row
    .dashboard-panel.col-lg-6.col-md-6
        .panel.panel-default
            .panel-heading
                | Panel 3
            .panel-body
    .dashboard-panel.col-lg-6.col-md-6
        .panel.panel-default
            .panel-heading
                | Panel 4
            .panel-body