//- Partial View: Owner Dashboard

h3 Owner Dashboard

#owner-panel.col-md-offset-3.col-lg-6.col-md-offset-3
    .dashboard-panel.panel.panel-default
        .panel-heading
            | Sensors
            
        .panel-body
            #sensorList
                table.table-hover
                    thread
                        tr
                            th Sensor Name
                            th Sensor ID
                            th Sensor Health
                            th Delete
                    tbody
                        tr
                            td Test
                            td Test2
                            td test4
                            td test5
                                
                            
                                

            // /sensorList
        .panel-footer
            #ownerAdd
                button.btn.btn-default.pull-right(type='submit')
                    i.fa.fa-plus-square
                    |  New
            // /owneradd
            div.clearfix
